@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
}

@layer components {
  .btn-darkblue {
    @apply flex justify-center bg-darkblue text-white transition-all-500 hover:hover-color fill-white  px-4 py-3 w-full btn-border shadow-lg;
  }
  .btn-text {
    @apply block text-3xl text-wrap my-auto mx-2 font-medium text-center align-middle justify-center;
  }
  .icon {
    @apply px-2 my-auto max-w-12 max-h-12;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .transition-all-500 {
    @apply transition-all duration-700 delay-0;
  }
  .btn-border {
    @apply border-0 rounded-xl;
  }
  .hover-color {
    @apply bg-white fill-darkblue text-darkblue;
  }
}
