@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  @screen xxs {
    .title-text {
      @apply text-md;
    }
    .content-text {
      @apply text-mdd;
    }
  }
  @screen xs {
    .title-text {
      @apply text-mdd;
    }
    .content-text {
      @apply text-lg;
    }
  }
  @screen sm {
    .title-text {
      @apply text-mdd;
    }
    .content-text {
      @apply text-xl;
    }
  }
  @screen md {
    .title-text {
      @apply text-2mdd;
    }
    .content-text {
      @apply text-3xl;
    }
  }
}

@layer components {
  .btn-darkblue {
    @apply flex justify-center bg-darkblue text-white transition-all-500 hover:hover-color fill-white  px-4 py-3 w-full btn-border shadow-lg;
  }

  .icon {
    @apply px-2 my-auto max-w-12 max-h-12;
  }
  .id-card {
    @apply max-w-lg card-width mb-6 sm:p-8 xxs:p-3 rounded-xl shadow-md overflow-hidden md:max-w-2xl bg-gradient-to-r from-lightblue to-lightpink transition-all-500;
  }
  .feature-card {
    @apply max-w-lg card-width p-8 rounded-xl shadow-md overflow-hidden md:max-w-2xl bg-darkblue  text-white transition-all-500;
  }
  .profile-image {
    @apply w-1/3 h-auto;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .transition-all-500 {
    @apply transition-all delay-0 duration-700;
  }
  .btn-border {
    @apply border-0 rounded-xl;
  }
  .hover-color {
    @apply bg-white fill-darkblue text-darkblue;
  }
  .header-text {
    @apply block text-3xl text-nowrap overflow-ellipsis font-bold align-middle text-left;
  }
  .btn-text {
    @apply block md:text-3xl sm:text-xl text-nowrap my-auto mx-2 font-medium text-center align-middle justify-center;
  }
  .title-text {
    @apply uppercase tracking-normal overflow-ellipsis text-darkblue font-semibold;
  }
  .content-text {
    @apply block leading-tight font-medium text-default;
  }
  .card-width {
    @apply w-full;
  }
}
/* .open-card {
    @apply  visible;
  }
  .hide-card {
    @apply  hidden;
  } */
